ul {
  list-style-type: none;
  display: block;
}

li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}

label {
  display: inline;
}

input {
  margin: 10px;
}

library-wrapper {
  display: flex;
  justify-content: center;
}

.flex-top-ctnr {
  display: flex;
  justify-content: center;
}

.flex-main-ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
}